{{!< default}}
{{> header}}

<div class="wrapper_barley">
  <main class="main_barley" role="main">

    {{#foreach posts}}
      <article class="article_barley" role="article" itemscope itemtype="http://schema.org/Article">
        <header class="postheader_barley">
          <h1 class="posttitle_barley" itemprop="headline"><a href="{{{url}}}#header" rel="bookmark">{{title}}</a></h1>
        </header>
        <div class="postcontent_barley" itemprop="articleBody">
          {{content words=50}}
        </div>
        <div class="readmore_barley">
          <a class="btn" href="{{{url}}}#header" rel="bookmark">Read More →</a>
        </div>
        <footer class="article_meta_barley">
          <span class="dimmed">Posted on </span>
          <time class="date_barley" datetime="{{date format="YYYY-MM-DD"}}"
                itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
          {{#if tags}}
            <div>
              <span class="dimmed"> Tagged in </span>
              <span> {{tags separator=" , "}}</span>
            </div>
          {{/if}}
        </footer>
      </article>
    {{/foreach}}

    {{#if pagination}}
      <div class="pagination_barley">
        {{{pagination}}}
      </div>
    {{/if}}

  </main>
</div>
{{> footer}}
